body {
  background-color: rgb(238, 236, 236);
}

.background {
  background: rgb(238, 236, 236);
  text-align: center;
}

.container {
  border-color: lightgray;
}

.center {
  text-align: center;
}

.page-border  {
  margin-right: 100px;
  margin-left: 100px;
  padding: 20px;
  border-color: lightgray;
}

.form-border  {
  margin: 10px;
  padding: 20px;
  border-color: lightgray;
}

.divider {
  border-width: thin;
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 0px;
  border-color: lightgray;
  border-style: solid;
}

.a {
  color: rgb(100, 96, 96);
}

.footer {
  border-top: 1px solid gray;
  color: #707070;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 80px;
  padding-right: 80px;
  display: flex;
  justify-content: space-between;
}

